{% extends "learning_logs/base.html" %}

{% block header%}
   <div class='jumbotron'>
    <h1>Track your learning.</h1><!--we place a tagline inside the jumbotron element, to give first time visitors what the Learning Log is about.-->
    <p>Powered by Jallen</p>
   </div>
{% endblock header %}

{% block content %}
    <h2><!--we give a sense of direction to users to tell them to register,add topics and make topic entries.-->
        <a href="{% url 'users:register' %}">Register an account</a> to make
        your own Learning Log, and list the topics you're learning about.
    </h2>
    <h2>
        Whenever you learn something new about a topic, make an entry
        summarizing what you've learned.
    </h2>

{% endblock content %}



