{% extends "learning_logs/base.html" %}

{% block content %}

{% if topics %}

   



   <ul>
      {% for topic in topics %}
        <li>
            <!--style the topic as an h2 element to make them a little larger on the page.-->
                <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
            
        </li>
      
      {% endfor %}

        
   </ul>

{% else %}

    <div class="empty-state">
        <h3>Welcome, {{ user.username }}!</h3>
        <p>You have not created any topics yet.</p>
        <a href="{% url 'learning_logs:new_topic' %}" class="btn btn-primary">
        Create  Your First Topic
        </a>
    </div>


{% endif %}

{% endblock %} 